body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}


.toggle-btn{
  width: 100px;
  height: 30px;
  background-color: #ccc;
  border-radius: 30px;
  cursor: pointer;
  padding: 10px;
}

.toggle-btn-circle{
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #fff;
  border: 1px solid rgb(245, 245, 245);
  border-radius: 50%;

  transition: all 0.3s ease;
}

.on {
  color: white;
  background-color: green;
  transform: translateX(210%);
}

.off {
  color: white;
  background-color: red;
  border: 1px solid rgb(0, 0, 0);
  transform: translateX(0);
}