.Parent{
  background-color: black;
  color: white;
  font-weight: bolder;
  width: 15%;
  padding: 20px;
  border-radius: 10px;
  justify-content: space-between;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
  font-size: 20px;
}

.Top{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.images{
  /* border: 1px solid white; */
  width: 60px;
  height: 60px;
  padding: 50px;
  /* margin-top: 30px; */
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.mid{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 15px;
  justify-content: center;
  align-items: center;
  
}

.tag{
  display: flex;
  gap: 25px;
}

button{
  padding: 10px;
  margin: 10px;
  width: 90%;
  border-radius: 10px;

}

.ar{
  display: flex;
  gap: 130px;
}

.cotainer{
  display: flex;
  justify-content: space-around; 
}