

.data-style{

    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    height: 45px;
    font-size: 16px;
    width: 245px;
    text-align: left;
    display: flex;
    gap: 43px;
}

.btn-danger{
    margin-top: calc(10px - 20px);
    height: 48px;
    width: 44px;
    font-size: 16px; 
    text-align: center;
}