form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.todo-input{
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: black;
}

.todo-btn{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}




ul{
    list-style-type: none;
    padding: 0;
    margin: 0px  10px ;
    text-align: left;
}


ul li{
    padding: 10px;
    font-size: 18px;
    border: 1px solid #0e0c0c;
    margin-bottom: 10px;
}

.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-container{
    display: flex;
    gap: 10px;
}