h1{
  text-align: center;
  font-family:  'Trebuchet MS', sans-serif ;
}

.btns{
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  padding: 15px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 30px;
  margin-left: 30px;

  /* width: 50%; */
}

.Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 160px;

}